* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

form {
  border: 3px solid #f1f1f1;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

.container-form {
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Register */

.wrapper-register {
  padding: 16px;
  background-color: white;
  /* border: 1px solid #333; */
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: dodgerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.signin {

  text-align: center;
}

.register-error-container {
  background-color: lightcoral;
}

.register-error-message {
  padding: 10px;
  margin: 10px;
}

/* Login */

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  background-color: dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.wrapper-login {
  padding: 16px;
}

.forgot-password,
.register-link {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* Home Page */

.home-page-topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e9e9e9;
  height: 50px;
}

.home-page-logo {
  margin-left: 50px;
}

.home-page-topnav-logout-button {
  margin-right: 100px;
  cursor: pointer;
}

.storage {
  margin-left: 13px;
}

.breadcrumb-container {
  width: 100%;

}

.home-page-breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

.breadcrumb-li {
  display: inline;
  font-size: 18px;

  max-width: 50px;
}

.span-li {
  padding: 8px;
  color: black;
}

.breadcrumb-li a {
  color: #0275d8;
  text-decoration: none;
}

.breadcrumb-li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb-buttons {
  display: flex;
}

.breadcrumb-buttons-file,
.breadcrumb-buttons-folder {
  background-color: white;
  border: 1px solid dodgerblue;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  margin-right: 10px;
  font-size: 25px;
  border-radius: 5px;
}

.item-container{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.home-page-icons {
  border: 1px solid dodgerblue;
  padding: 11px;
  border-radius: 5px;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 21px;
  text-overflow: ellipsis;
}

.home-page-icons a{
  color: dodgerblue;
}

.file-container{
  margin-top: 12px;
}

.folder-container,
.file-container{
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.folder-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

/* Modal */

.modal{
  
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-form-label{
  font-size: 20px;
}

.modal-form{
  width: 400px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  background-color: lightgrey;
}

.modal-form-btn{
  background-color: dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  font-size: 17px;
  border-radius: 10px;
}

.close{
  background-color: gray;
}

.modal-btn-container{
  display: flex;
  justify-content: flex-end;
}